<launch>
  <node
    pkg="actionlib_basics"
    type="averaging_server"
    name="averaging_server"
    output="screen"
  />
  <node
    pkg="actionlib_basics"
    type="averaging_client"
    name="averaging_client"
    output="screen"
  />
  <node
    pkg="actionlib_basics"
    type="generate_numbers.py"
    name="generate_numbers"
    output="screen"
  />
</launch>
