<launch>
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim_node"
    output="screen"
  />
  <node
    pkg="rosrust_controller"
    type="draw_circle"
    name="draw_circle"
    output="screen"
  />
  <node
    pkg="rosrust_controller"
    type="pose_subscriber"
    name="pose_subscriber"
    output="screen"
  />
</launch>
